<po-page-list
    #poPageList
    [p-title]="literals?.perfilUsuario"
    [p-actions]="pageActions"
    [p-disclaimer-group]="disclaimerGroup"
    [p-filter]="filterSettings">
    
    <po-table
        p-striped="true"
        [p-columns]="columnsPerfil"
        [p-items]="itemsPerfil"
        [p-actions]="tableActions"
        [p-actions-right]="true"
        [p-hide-columns-manager]="true">
    </po-table>   
</po-page-list>

<po-modal #modalTipoPerfil 
    [p-title]="titleModal"
    [p-primary-action]="confirmTipoPerfil"
    [p-secondary-action]="closeTipoPerfil" >

    <form #formTipoPerfilUsuario="ngForm">
      <div class="po-row">        
        <po-input *ngIf="isEdit"
          class="po-md-2" 
          name="codTipoPerfil"      
          [(ngModel)]="tipoPerfilUsuario.idTipoPerfil" 
          [p-disabled]="isEdit"
          [p-label]="literals?.codigo"
          p-required> 
        </po-input>
        <po-input 
          class="po-md-6" 
          name="descTipoPerfil"      
          [(ngModel)]="tipoPerfilUsuario.descricaoPerfil" 
          [p-label]="literals?.description"
          p-required> 
        </po-input>

        <po-switch
          name="gestorPessoas" 
          [(ngModel)]="tipoPerfilUsuario.gestorPessoas"
          [p-label]="literals?.gestorPessoas"
          [p-label-off]="literals?.no"
          [p-label-on]="literals?.yes">
      </po-switch>
       
      </div>      
    </form>
</po-modal>