<po-page-list 
  p-title="Feriados" 
  [p-title]="literals?.titleferiados"
  [p-actions]="actions"
  [p-disclaimer-group]="disclaimerGroup"
  [p-filter]="filterSettings">
  
  <po-table 
    p-striped="true"
    [p-selectable]="true"
    [p-columns]="columnsFeriados" 
    [p-items]="itemsFeriados"
    [p-actions]="tableActions"
    p-actions-right="true"> 
  </po-table>
</po-page-list>

<po-modal #modalAdvanceSearch
    p-size="sm"
    [p-title]="literals?.modalAdvanceSearcPer"
    [p-primary-action]="confirmAdvSearchAction"
    [p-secondary-action]="cancelAdvSearchAction">
    <po-datepicker-range
        class="po-lg-6 po-md-6"
        p-label="Período"
        [(ngModel)]="datePickerRangeFilter" >
    </po-datepicker-range>
</po-modal>
<po-modal #modalFeriado 
p-size = 'auto'
    [p-title]="literals?.scheduleEvent"
    [p-primary-action]="confirm"
    [p-secondary-action]="close" >

    <form #formFeriados="ngForm">
      <div class="po-row">
        <po-datepicker 
          class="po-md-5" 
          name="data" 
          [(ngModel)]="feriados.dataFormat"             
          [p-disabled]="isEdit"
          p-required="true"
          p-clean 
          p-label="Data"> 
        </po-datepicker>
        <div class="po-row">
          <po-select 
            class="po-md-4" 
            name="tipoFeriado"       
            [(ngModel)]="feriados.tipoFeriado"
            p-label="Tipo" 
            [p-options]="typeOptions">
          </po-select>
          <po-input 
            class="po-md-8" 
            name="descricao"      
            [(ngModel)]="feriados.descricao" 
            p-label="Descrição" 
            p-required> 
          </po-input>   
        </div> 
      </div>
    
      <div class="po-row">    
        <po-checkbox
          class="po-md-6"
          name="pontoFacultativo"                  
          p-label="Ponto Facultativo"
          [(ngModel)]="feriados.pontoFacultativo"
          (p-change)="changeEvent('p-change')"
        >
        </po-checkbox>        
      </div>  
    </form>
</po-modal>
<po-modal #modalFeriadosNacionais
    p-title="feriados nacionais"
    [p-primary-action]="confirmNacionais"
    [p-secondary-action]="closeNacionais" >
  
    <po-multiselect
      name="anoFeriado"       
      [(ngModel)]="anoFeriado"
      p-label="Ano" 
      [p-options]="anoOptions"
      (p-change)="onChangeYear()">

    </po-multiselect>
</po-modal>
