<po-page-default>  
  <form #formLogin="ngForm">
    <div class="divLogin">
      <po-widget 
        class="po-lg-4"
        p-height="210"
        p-no-shadow="true">
      <po-input    
        class="po-md-6 po-lg-12"
        name="usuario"
        [(ngModel)]="login.idUsuario"
        p-icon="po-icon-user"
        p-placeholder="email@totvs.com.br"      
        p-clean> 
      </po-input>
      <po-password
        class="po-md-6 po-lg-12"
        name="senha"
        [(ngModel)]="login.senha"
        p-icon="po-icon-lock"> 
      </po-password>
      <po-button
        class="btEnter po-md-6 po-lg-12 po-mt-1"        
        p-label="Entrar"
        p-kind="primary"
        (p-click)="onClick()"> 
      </po-button>
    </po-widget>
    </div>
  </form>
</po-page-default>