<po-page-default>  
  <form #formLogin="ngForm">
    <div class="divTitle">
      Boas Vindas
    </div>
    <div class="divLogin">
      <po-widget 
      p-primary="true"
      (p-primary-action)="abrirRecSenha()"
      p-primary-label="Recuperar Senha"
      class="po-lg-6"
      p-height="250"
      p-no-shadow="true">
      <po-input    
        class="po-md-6 po-lg-12"
        name="nomeUsuario"
        [(ngModel)]="login.nomeUsuario"
        p-icon="po-icon-user"
        [p-placeholder]="literals?.emailPlaceholder"
        p-clean> 
      </po-input>
      <po-password
        class="po-md-6 po-lg-12"
        name="senha"
        [(ngModel)]="login.senha"
        p-icon="po-icon-lock"> 
      </po-password>
      <po-button
        class="btEnter po-md-6 po-lg-12 po-mt-1"        
        [p-label]="literals?.entrar"
        p-kind="primary"
        (p-click)="onClick()"> 
      </po-button>
    </po-widget>
    </div>
  </form>
</po-page-default>

<po-modal #modalRecSenha 
  [p-title]="literals?.recuperar"
  [p-primary-action]="confirmRecSenha" 
  [p-secondary-action]="closeRecSenha"> 
    <po-input    
      class="po-md-6 po-lg-12"
      name="recUsuario"
      [(ngModel)]="login.email"
      [p-label]="literals?.labelRecupera"
      p-icon="po-icon-user"
      [p-placeholder]="literals?.emailPlaceholder"
      p-clean> 
  </po-input>
</po-modal>