.divLogin {
    width: 90vw;
    height: 70vh;
    display: flex;    
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.divTitle {
    font-size: 35px;
    width: 250px;
    height: 20px;
    color: rgb(26, 170, 199);
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.btEnter {
    color: blue;
}