<po-page-default 
    [p-actions]="getActions()" 
    [p-breadcrumb]="breadcrumb" 
    [p-title]="getTitle()">
    <div class="po-row po-pb-2">
    <div class="po-md-6">
        <div class="po-font-text-bold po-md-12">{{literals?.txtUsuario}}</div>
        <po-input #inputUsuario
            class="po-offset-lg-6 po-offset-xl-6 po-md-6"
            name="quickSearchUsuario"
            [(ngModel)]="quickSearchUsuario"
            [p-placeholder]="literals?.nameUser"
            p-clean="true"
            p-icon="ph ph-magnifying-glass"
            (keypress)="onKeyQuickSearchUsuar($event.keyCode)"
            (p-change)="onChangeQuickSearchUsuar($event)">
        </po-input>
        <po-table class="po-md-12"
        #POItemsOri
        [p-columns]="columns"
        [p-infinite-scroll]="true"
        p-selectable="true"
        [p-hide-select-all]="true"
        p-infinite-scroll-distance="80"
        (p-selected)="changeOptions($event, 'new')"
        (p-unselected)="changeOptions($event, 'delete')"
        p-height="400"
        [p-items]="items"
        [p-striped]="true"
        (p-delete-items)="deleteItems($event)"
        [p-hide-columns-manager]="true">
        </po-table>
    </div>
    <div class="po-md-6 ">
        <div class="po-font-text-bold">{{literals?.txtUsuarioRelac}}</div>
        <div></div>
        <div></div>
        <po-input #inputUsuarioSelectUsuarioSelect
            class="po-offset-lg-6 po-offset-xl-6 po-md-6"
            name="quickSearchUsuarioSelect"
            [(ngModel)]="quickSearchUsuarioSelect"
            [p-placeholder]="literals?.nameUser"
            p-clean="true"
            p-icon="ph ph-magnifying-glass"
            (keypress)="onKeyQuickSearchUsuarioSelect($event.keyCode)"
            (p-change)="onChangeQuickSearchUsuarioSelect($event)">
        </po-input>
        <po-table class="po-md-12 po-mt-8"
            #POItemsSelected
            [p-columns]="columns"
            [p-striped]="true"
            [p-infinite-scroll]="true"
            p-height="400"
            p-sort="true"
            [p-items]="itemsSelected"
            [p-actions-right]="true"
            [p-hide-columns-manager]="true" >
        </po-table>
    </div>
    </div>
</po-page-default>

