<po-page-list
    [p-title]="literals?.eventType"
    [p-actions]="pageActions"
    [p-disclaimer-group]="disclaimerGroup"
    [p-filter]="filterSettings">
  <po-table
    p-striped="true"
    [p-columns]="columns"
    [p-items]="items"
    [p-actions]="tableActions"
    p-actions-right="true">
    </po-table>
</po-page-list> 
<po-modal class="po-md-12" #modal 
  [p-title]="titleModal"
  [p-primary-action]="confirm" 
  [p-secondary-action]="close"> 
  <po-number class="po-md-2" *ngIf="isEdit"
    name="code" 
    [p-label]="literals?.code"
    [(ngModel)]="tipoEvento.codTipo"
    [p-disabled]="isEdit"
    (p-change-model)="changeValue($event)"
    p-maxlength="4"> 
  </po-number>
  <po-input class="po-md-10"
    name="description" 
    [p-label]="literals?.description"
    [(ngModel)]="tipoEvento.descTipoEvento"
    p-required> 
  </po-input>
  <po-switch
      name="faixaData" 
      [(ngModel)]="tipoEvento.faixaData"
      [p-disabled]="desabilitaUtilizaFaixa"
      [p-label]="literals?.faixaData"
      [p-label-off]="literals?.no"
      [p-label-on]="literals?.yes">
  </po-switch>
</po-modal>