<po-page-list 
  p-title="Equipes" 
  [p-title]="literals?.titleEquipes"
  [p-actions]="actions"
  [p-disclaimer-group]="disclaimerGroup"
  [p-filter]="filterSettings">
  
  <po-table 
    p-striped="true"
    [p-columns]="columnsEquipes" 
    [p-items]="EquipesItems"
    [p-actions]="tableActions"
    [p-actions-right]="true"
    [p-hide-columns-manager]="true"> 
  </po-table>
</po-page-list>

<po-modal #modal 
    [p-title]="titleModalEquipe"
    [p-primary-action]="confirm"
    [p-secondary-action]="close" >

    <form #formEquipes="ngForm">
      <div class="po-row">        
        <po-input *ngIf="isEdit"
          class="po-md-2" 
          name="codEquipe"      
          [(ngModel)]="codEquipe" 
          [p-disabled]="isEdit"
          [p-label]="literals?.codigo" 
          p-required> 
        </po-input>
        <po-input 
          class="po-md-6" 
          name="descEquipe"      
          [(ngModel)]="descEquipe" 
          [p-label]="literals?.description" 
          p-required> 
        </po-input>
       
      </div>      
    </form>
</po-modal>

