<po-page-default 
    [p-actions]="getActions()" 
    [p-breadcrumb]="breadcrumb" 
    [p-title]="getTitle()">
    <po-select class="po-lg-4"
      name="eventType"
      [(ngModel)]="eventUser.codTipo" 
      [p-disabled]="isEdit"
      [p-label]="literals?.eventType" 
      [p-options]="eventOptions"    
      (p-change)="changeEvent($event)" >
  </po-select>
  <po-divider class="po-md-9" [p-label]="literals?.rangeSchedule"> </po-divider>
  <div class="po-row">
  <po-datepicker  *ngIf="isHidden"
      class="po-md-6"
      [(ngModel)]="datepicker"
      p-clean
      [p-label]="literals?.period"
      p-required = 'true'
      (p-change)="calculateQuantityOfVacationDays()"
        >
    </po-datepicker>
  <po-datepicker-range  *ngIf="!isHidden"
      class="po-md-6"
      [(ngModel)]="datepickerRange"
      p-clean
      [p-label]="literals?.period"
      p-required = 'true'
      (p-change)="calculateQuantityOfVacationDays()">
      </po-datepicker-range>
      <po-info  
        [p-label]="literals?.qtdDays"
        p-label-size="7"
        p-orientation="vertical"
        [p-value]="quantityOfDays">
      </po-info>
  </div>
  
</po-page-default>

