<po-page-default 
    [p-actions]="getActions()" 
    [p-breadcrumb]="breadcrumb" 
    [p-title]="getTitle()">
  <form [formGroup]="formVacationSuggestion">
  <po-radio-group
    class="po-lg-4"
    name="eventType"
    formControlName="eventType"
    [p-label]="literals?.eventType"
    p-required
    [p-options]="eventOptions"
    (p-change)="changeEvent($event)"
  >
  </po-radio-group>
  <po-divider class="po-md-9" [p-label]="literals?.rangeSchedule"> </po-divider>

  <div class="po-row">
    <po-datepicker-range
    class="po-md-6"
    formControlName="datepickerRange"
    p-clean
    [p-label]="literals?.period"
    p-required
    (p-change)="calculateQuantityOfVacationDays()">
    </po-datepicker-range>

    <po-number *ngIf="isHidden"
      class="po-md-3"
      name="number"
      formControlName="quantityOfDays"
      p-disabled
      [p-label]="literals?.qtdDays"
      p-required
    >
    </po-number>
  </div>
</form>
</po-page-default>
<!-- </po-page-edit>  -->
