<po-page-default 
    [p-actions]="getActions()" 
    [p-breadcrumb]="breadcrumb" 
    [p-title]="getTitle()">

  <div class="po-row">
    <po-input 
      class="po-md-6" 
      [(ngModel)]="usuario.usuario" 
      p-clean 
      p-icon="po-icon-user" 
      [p-label]="literals?.name"> 
    </po-input>
  </div>
  <div class="po-row">
  <po-email 
    class="po-lg-6" 
    [(ngModel)]="usuario.email" 
    [p-label]="literals?.email" 
    p-clean> 
  </po-email>
  </div>
  <div class="po-row">
    <po-select
      class="po-lg-6" 
      name="select"
      p-label="Perfil"
      [(ngModel)]="usuario.tipoPerfil" 
      [p-options]="perfilOptions">
    </po-select>
  </div>
  <div class="po-row">
    <po-password
    class="po-sm-3"
    name="newPassword"
    [(ngModel)]="newPassword"
    p-clean
    p-error-pattern="invalid password"
    p-label="New password"
    p-mask="999999"
    p-minlength="6"
    p-required
  >
  </po-password>

  <po-password
    class="po-sm-3"
    name="confirmNewPassword"
    [(ngModel)]="confirmNewPassword"
    p-clean
    p-error-pattern="invalid password"
    p-label="Confirm New Password"
    p-mask="999999"
    p-minlength="6"
    p-required
  >
  </po-password>
  </div>
  <po-divider
    [p-label]="literals?.equipe" >
  </po-divider>
  <po-button 
    [p-label]="literals?.novaEquipe"
    p-kind = "primary" 
    (p-click)="onClick()"> 
  </po-button>
  <po-table
    p-striped="true"
    [p-columns]="columns"
    [p-items]="equipes"
    [p-actions]="tableActions"
    [p-show-more-disabled]="!hasNext"
    (p-show-more)="searchEquipes(true)"
    p-actions-right="true">
    </po-table>
</po-page-default>
<po-modal #modalEquipe 
  [p-title]="literals?.novaEquipe"
  [p-primary-action]="confirm" 
  [p-secondary-action]="close"> 
  <po-multiselect 
    name="equipes" 
    [(ngModel)]="equipeSelected"
    [p-label]="literals?.equipe" 
    [p-options]="this.optionsEquipe"> 
  </po-multiselect>
</po-modal>

