<po-page-default 
    [p-actions]="getActions()" 
    [p-breadcrumb]="breadcrumb" 
    [p-title]="getTitle()">

  
  <div class="po-row">
    <po-input 
      class="po-md-6" 
      [(ngModel)]="usuario.nomeUsuario" 
      p-clean 
      p-icon="po-icon-user" 
      [p-label]="literals?.name"
      [p-disabled]="properties">
    </po-input>
     
  
  </div>
  <div class="po-row">
  <po-email 
    class="po-lg-6" 
    [(ngModel)]="usuario.email" 
    [p-label]="literals?.email" 
    [p-disabled]="properties"
    p-clean> 
  </po-email>
  </div>
  <div class="po-row">
    <po-select
      class="po-lg-6" 
      name="select"
      p-label="Perfil"
      [(ngModel)]="usuario.tipoPerfil"
      [p-disabled]="properties" 
      [p-options]="perfilOptions">
    </po-select>
  </div>
 
  <div class="po-row">
    <po-button *ngIf="propertiesButton" class="po-pl-0 po-md-4"
      [p-label]="literals?.editarSenha"
      p-kind = "tertiary" 
      (p-click)="modalSenha.open()"> 
    </po-button>
  </div>
</po-page-default>


<po-modal #modalSenha 
  [p-title]="literals?.editarSenha"
  [p-primary-action]="confirmPassword" 
  [p-secondary-action]="closePassowrd">
  
  <po-password
    class="po-sm-6"
    name="newPassword"
    [(ngModel)]="newPassword"
    p-clean
    p-error-pattern="invalid password"
    p-label="New password"
    p-mask="999999"
    p-minlength="6"
    p-required>
  </po-password>


  <po-password
    class="po-sm-6"
    name="confirmNewPassword"
    [(ngModel)]="confirmNewPassword"
    p-clean
    p-error-pattern="invalid password"
    p-label="Confirm New Password"
    p-mask="999999"
    p-minlength="6"
    p-required>
  </po-password>

</po-modal>





