<po-page-default
  [p-title]="literals?.titleVacation">
  <div class="po-row">
      <po-datepicker-range
          class="po-md-3 po-lg-3 po-ml-xl-1 po-mb-xb-0"
          [p-label]="literals?.period"
          [(ngModel)]="config.datePickerRange"
          p-required="true">
      </po-datepicker-range>
      
      <po-multiselect  class="po-md-3 po-lg-3"
        name="multiselect" 
        [p-label]="literals?.equipeUsuario"
        [(ngModel)]="multiSelectEquipe"
        [p-options]="optionsMultiSeletc"
        (p-change)="changeOptions($event)"> 
      </po-multiselect>
      
      <po-button class="po-mt-4 po-mb-xb-0"
        [p-label]="literals?.updateTable" 
        p-kind= "primary"
        (p-click)="onClick()">
      </po-button>
   </div>
  <po-container class="po-ml-xl-mt-mb-mp-0"
    p-no-border="true">
    <po-table #tableEvent
      [p-columns]="columns"
      [p-items]="items"
      [p-container]="true"
      [p-height]="500"
      [p-striped]="true"
      [p-hide-columns-manager]="true">
    </po-table>
  </po-container>
</po-page-default>