<po-page-default 
  [p-title]="literals?.titleVacation">
  <div class="po-row">
      <po-datepicker-range
          class="po-lg-3 po-md-3"
          p-label="Período"
          [(ngModel)]="config.datePickerRange"
          (p-change)="calculateQuantityOfVacationDays()"
          >
      </po-datepicker-range>
  </div>
  <div class="po-row">
    <po-table #tableEvent
      [p-columns]="columns"
      [p-items]="items"
      [p-hide-columns-manager]="true">
    </po-table>
  </div>
</po-page-default>