<po-page-default ngif="equipesItems"
  [p-title]="literals?.titleVacation">
  <div class="po-row">
      <po-datepicker-range
          class="po-lg-3 po-md-3"
          [p-label]="literals?.period"
          [(ngModel)]="config.datePickerRange"
          (p-change)="calculateQuantityOfVacationDays()"
          >
          <!--  -->
      </po-datepicker-range>
      
      <po-multiselect  class="po-md-3"
       name="multiselect" 
       [p-label]="literals?.equipeUsuario"
       [(ngModel)]="multiSelectEquipe"
        [p-options]="optionsMultiSeletc"
        (p-change)="changeOptions($event)"> 
      </po-multiselect>
  </div>
  <div class="po-row">
    <po-table #tableEvent
      [p-columns]="columns"
      [p-items]="items"
      [p-hide-columns-manager]="true">
    </po-table>
  </div>
</po-page-default>